.collection-preview {
    margin-bottom: 30px;
    width: 90%;
    margin: auto;
}
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: inline-flex;   //keeps items side by side
      width: 100%;
      justify-content: space-between;   // gives space between items
    }
  